html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,a,span, img { box-sizing:border-box;margin:0; padding:0; }

img { border:none; }
ul li{ list-style:none; } 
a{text-decoration:none;  cursor: pointer;}
.header{
	width: 100%;
	height: 32px;
	background: rgb(243, 243, 243);

}
body{
	  font: 12px/1.5 微软雅黑, Arial;
}
#tjfood{
	color: red;
	font-weight: bold;
	font-size: 13px;
}
 #users{
	text-align: center;
	width: 200px;
	height: 32px;
	
	float: left;
	margin-right: 10px;
}
/*.nav .nav_main .fenlei #fenlei_list li a span{
	margin-left: 0;
}*/
.header .header_right #users #h_login{
	margin-left: 57px;
}
.header .header_right #users #user1{
	display: inline-block;
	float: left;
/*	margin-left:75px;*/
   
}
.header .header_right #users #user1 span{
	padding: 0;
	color: red;
	display: inline-block;
	float: left;
}.header .header_right #users #user1 span:nth-child(1){
	color: black;
}
.header .header_right #users #user1 #sx{
	margin-left: 10px;
	cursor: pointer;
}
.header .header_right #users #user1 #sx:hover{
	color: black;
}
.header .header_right a,span{
	float: right;
	display: inline-block;
}
.header .header_main{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
}
.header .header_main .header_left{
	width: 182px;
	height: 32px;
	line-height: 32px;
	font-size:12px ;
	float: left;
	color: rgb(120, 120, 123);
}
.header .header_main .header_right{
	float: right;
	height: 32px;
	 line-height: 32px;
	 font-size: 12px;
	background: rgb(243, 243, 243);
}
.header .header_main .header_right span{
	    color: rgb(120, 120, 123);
	    line-height: 32px;
	    padding: 0px 7px;
	    display: inline-block;
	    float: left;
}
.header .header_main .header_right a{
	display: inline-block;
	float: left;
}
.header .header_main .header_right a:hover{
	color: #cb0000;
}
.header a{
	color: rgb(102, 102, 102);
	font-family: 新宋体;
	font-size: 12px;
}
.header #h_login{
	 line-height: 32px;
	 cursor: pointer;
	 color: #cb0000;
	 padding: 0 5px;

}
.header #h_reg{
	 cursor: pointer;
	 color: #cb0000;
	 padding: 0 5px;

}

.headerbg{
	width: 100%;
	height: 110px;
}
.headerbg .headerbg_main{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
}
.headerbg .headerbg_main .logo{
	width: 130px;
	height: 110px;
	float: left;
}
.headerbg .headerbg_main .logo  h1 a{
	display: block;
	width: 130px;
	height: 110px;
	background: url(../img/logo.png);
}
.headerbg .headerbg_main .logo  h1 a span{
	display: none;
}
.headerbg .headerbg_main  .lianjie{
	float: left;
	width: 188px;
	line-height: 110px;
}
.headerbg .headerbg_main  .lianjie a{
	  font-size: 22px;
	  color: #000;
	  font-family: '微软雅黑';
	  display: block;
	  width: 188px;
	  height: 110px;
}
.headerbg .headerbg_main .shopping_car{
	width: 190px;
	height: 36px;
	float: right;
	margin-top: 40px;
	background: white;
}
.headerbg .headerbg_main .shopping_car span{
	display: inline-block;
	height: 36px;
	float: left;
	width: 150px;
}
.headerbg .headerbg_main .shopping_car span:nth-child(2){
	display: inline-block;
	width: 40px;
	height: 36px;
	background: #cb0000;
	color: white;
	float: left;
	text-align: center;
	line-height:40px;
	font-size: 14px;
}
.headerbg .headerbg_serch{
	width: 470px;
	height: 36px;
	color: #95908A;
	margin-top: 40px;
	float: left;
	margin-left: 60px;
	border: 1px solid #CCCCCC;
}
.headerbg .headerbg_serch i{
	display: inline-block;
	float: left;
	height: 36px;
	text-align: center;
	line-height: 36px;
	width: 30px;
	font-size: 23px;
}
.headerbg .headerbg_serch #keywords{
	height: 34px;
	width: 378px;
	border: none;
	outline: none;
	float: left;
}
.headerbg .headerbg_serch #search_btn{
	cursor: pointer;
	width: 62px;
	height: 37px;
	line-height: 36px;
	float: left;
	border: none;
}
.nav{
	width: 100%;
	height: 36px;
	background: #f1f1f1;
}
.nav .nav_main{
	width: 1200px;
	height: 36px;
	margin: 0 auto;
}
.nav .nav_main .fenlei{
	float: left;
	width: 266px;
	height: 36px;
	float: left;
	line-height: 36px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: red;
    position: relative;
}
.nav .nav_main .fenlei #fenlei_list{
	position: absolute;
	top:36px;
	left: 0;
	width: 265px;
	height: 360px;
	background:white;
	border: 1px solid #CCCCCC;
	z-index: 9999;
	display: none;
}
.nav .nav_main .fenlei #fenlei_list li{
	width: 50%;
	height: 40px;
	float: left;
	line-height: 40px;
}
.nav .nav_main .fenlei #fenlei_list li a{
	display: block;
	color: rgb(51, 51, 51);
    font-size: 14px;
	height: 40px;
	text-align: left;
	background: url(../img/bg2.png) no-repeat 6px center;
}
.nav .nav_main .fenlei #fenlei_list li a span{
	display: inline-block;
	margin-left: 35px;
	float: left;
}
.nav .nav_main .fenlei #fenlei_list li:nth-child(1) a{
	display: block;
	color: rgb(51, 51, 51);
    font-size: 14px;
	height: 40px;
	background: url(../img/bg1.png) no-repeat 6px center;
}
.nav .nav_main .fenlei #fenlei_list li:nth-child(2){
	background: url(../img/bg2.png) no-repeat 6px center;
}
.nav .nav_main .nav_left{
	float: left;
	width: 694px;
	height: 36px;
	margin-left: 10px;
	
}
.nav .nav_main .nav_left .active2{
	background: red;
	color:white;
}
.nav .nav_main .nav_left a{
	display: inline-block;
	float: left;
	width: 80px;
	height: 36px;
	line-height:36px;
	text-align: center;
	color: rgb(55, 55, 55);
}
.nav .nav_main .nav_left span{
	float: left;
	display: inline-block;
	line-height:36px;
	width: 6px;
	height: 36px;
}
.nav .nav_main .nav_left a:hover{
	background: red;
	color: white;
}
/*//banner*/
.bannerwrap{
	overflow: hidden;
	width: 100%;
	height: 482px;
	background: url(../img/bannerbg.jpg) no-repeat center top;
}
.bannerwrap .banner{
	width: 1146px;
	height: 455px;
	margin: 0 auto;
	    padding: 12px;
    padding-bottom: 0;
    background: white;
    margin-top: 30px;
    border: 1px solid #cccccc;
}
.bannerwrap .banner img{
	height: 400px;
	width: 1146px;
}
.bannerwrap #banner_list{
	width: 1146px;
	height: 40px;
	background: blue;
	display: flex;
	justify-content: space-between;
}
.bannerwrap #banner_list li{
	width: 229px;
	height: 50px;;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.bannerwrap #banner_list li a{
	    color: #666;
}
.bannerwrap #banner_list li:hover{
	border-bottom: 1px solid red;
}

/*底部*/
.foot_bg{
	width: 100%;
	height: 125px;
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dcdcdc;
}
.foot_bg .foot_bg_main{
	width: 1200px;
	height: 105px;
	margin: 0 auto;
}
.foot_bg .foot_bg_main ul{
	width: 675px;
	height: 105px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.foot_bg .foot_bg_main ul li{
	text-align: center;
	width: 97px;
}
.foot_bg .foot_bg_main ul li img{
	margin-left: -4px;
	display: inline-block;
}
.foot_bg .foot_bg_main ul li p{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #a3a3a3;
    font-family: 微软雅黑;
}
.footer_zixun{
	width: 100%;
	height: 282px;
	background: white;
	margin-top: 20px;
	
}
.footer_zixun .footer_zixun_main{
	width: 1200px;
	height: 282px;
	background: white;
	margin: 0 auto;
}
.footer_zixun .footer_zixun_main .fleft{
	width: 160px;
	height: 121px;
	background: white;
	float: left;
	margin-left: 30px;
}
.footer_zixun .footer_zixun_main .fleft .f_call{
	font-size: 16px;
    background: url(../img/f_call.png) no-repeat left center;
    padding-left: 30px;
    height: 24px;	
    color: #666;
    font-family: 微软雅黑
}
.footer_zixun .footer_zixun_main .fleft .f_call1{
	font-size: 18px;
    color: #ff6600;
    margin: 10px 0;
    font-family: 微软雅黑;
}
.footer_zixun .footer_zixun_main .fleft .qq_line a{
	display: block;
    background: url(../img/qq_i.png) no-repeat left center;
    padding-left: 65px;
    color: #333;
    font-family: 新宋体;
}
 .footer_zixun .footer_zixun_main .fleft .qq_line1 a{
 	margin-top: 5px;
 	display: block;
    background: url(../img/qq_i.png) no-repeat left center;
    padding-left: 65px;
    color: #333;
    font-family: 新宋体;
 }   

 .footer_zixun .xinshou{
 	width: 140px;
 	height: 154px;
 	float: left;
 	margin-left: 48px;
 	background: white;
 }
 .footer_zixun .xinshou dt{
 	width: 140px;
 	height: 35px;
 	line-height: 35px;
 	padding-left: 10px;
 	color: #666;
    font-size: 16px;
    font-family: 微软雅黑;
    border-bottom: 1px solid #dcdcdc;
 	
 }
 .footer_zixun .xinshou dd{
 	height: 118px;
 	width: 140px;
 	
 }
 .footer_zixun .xinshou dd ul li{
 	width: 140px;
 	height: 30px;
 	line-height: 30px;
 	background: url(../img/dot.png) no-repeat left center;
 	padding-left: 10px;
 	
 }
.footer_zixun .xinshou dd ul li a{
	    color: #666;
}
.footer_zixun .xinshou dd ul li a:hover{
	text-decoration: underline;
}
/*支付方式*/
 .footer_zixun .zhifu{
 	width: 140px;
 	height: 154px;
 	float: left;
 	margin-left: 48px;
 	background: white;
 }
 .footer_zixun .zhifu dt{
 	width: 140px;
 	height: 35px;
 	line-height: 35px;
 	padding-left: 10px;
 	color: #666;
    font-size: 16px;
    font-family: 微软雅黑;
    border-bottom: 1px solid #dcdcdc;
 	
 }
 .footer_zixun .zhifu dd{
 	height: 118px;
 	width: 140px;
 	
 }
 .footer_zixun .zhifu dd ul li{
 	width: 140px;
 	height: 30px;
 	line-height: 30px;
 	background: url(../img/dot.png) no-repeat left center;
 	padding-left: 10px;
 	
 }
.footer_zixun .zhifu dd ul li a{
	    color: #666;
}
.footer_zixun .zhifu dd ul li a:hover{
	text-decoration: underline;
}
/*配送方式*/
 .footer_zixun .peisong{
 	width: 140px;
 	height: 154px;
 	float: left;
 	margin-left: 48px;
 	background: white;
 }
 .footer_zixun .peisong dt{
 	width: 140px;
 	height: 35px;
 	line-height: 35px;
 	padding-left: 10px;
 	color: #666;
    font-size: 16px;
    font-family: 微软雅黑;
    border-bottom: 1px solid #dcdcdc;
 	
 }
 .footer_zixun .peisong dd{
 	height: 118px;
 	width: 140px;
 	
 }
 .footer_zixun .peisong dd ul li{
 	width: 140px;
 	height: 30px;
 	line-height: 30px;
 	background: url(../img/dot.png) no-repeat left center;
 	padding-left: 10px;
 	
 }
.footer_zixun .peisong dd ul li a{
	    color: #666;
}
.footer_zixun .peisong dd ul li a:hover{
	text-decoration: underline;
}
/*售后服务*/
 .footer_zixun .shouhou{
 	width: 140px;
 	height: 154px;
 	float: left;
 	margin-left: 48px;
 	background: white;
 }
 .footer_zixun .shouhou dt{
 	width: 140px;
 	height: 35px;
 	line-height: 35px;
 	padding-left: 10px;
 	color: #666;
    font-size: 16px;
    font-family: 微软雅黑;
    border-bottom: 1px solid #dcdcdc;
 	
 }
 .footer_zixun .shouhou dd{
 	height: 118px;
 	width: 140px;
 	
 }
 .footer_zixun .shouhou dd ul li{
 	width: 140px;
 	height: 30px;
 	line-height: 30px;
 	background: url(../img/dot.png) no-repeat left center;
 	padding-left: 10px;
 	
 }
.footer_zixun .shouhou dd ul li a{
	    color: #666;
}
.footer_zixun .shouhou dd ul li a:hover{
	text-decoration: underline;
}
/*购物帮助*/
 .footer_zixun .bangzhu{
 	width: 140px;
 	height: 154px;
 	float: left;
 	margin-left: 48px;
 	background: white;
 }
 .footer_zixun .bangzhu dt{
 	width: 140px;
 	height: 35px;
 	line-height: 35px;
 	padding-left: 10px;
 	color: #666;
    font-size: 16px;
    font-family: 微软雅黑;
    border-bottom: 1px solid #dcdcdc;
 	
 }
 .footer_zixun .bangzhu dd{
 	height: 118px;
 	width: 140px;
 	
 }
 .footer_zixun .bangzhu dd ul li{
 	width: 140px;
 	height: 30px;
 	line-height: 30px;
 	background: url(../img/dot.png) no-repeat left center;
 	padding-left: 10px;
 	
 }
.footer_zixun .bangzhu dd ul li a{
	    color: #666;
}
.footer_zixun .bangzhu dd ul li a:hover{
	text-decoration: underline;
}
.footer_zixun .footer_code{
	width: 1200px;
	height: 102px;
	float: left;
	margin-top: 25px;
}
.footer_zixun .footer_code img{
	float: left;
	margin-left: 494px;
	width: 98px;
	height: 98px;
}
.footer_zixun .footer_code .wxh{
	width: 114px;
	height: 70px;
	float: left;
	margin-left: 10px;
}
.footer_zixun .footer_code .wxh p:nth-child(1){
	font-size: 14px;
    color: #333;
    font-weight: 700;
    font-family: 微软雅黑;
    margin-top: 15px;
}
.footer_zixun .footer_code .wxh p:nth-child(2){
    margin-top: 15px;
    line-height: 20px;
    text-align: center;
    color: #666;
}

.fenge{
	width: 100%;
	height: 11px;
	background: url(../img/f3_bg.png);
	margin-top: 35px;
}

.lastfoot{
	width: 100%;
	height: 58px;
/*	background: green;*/
	margin-top: 23px;
}
.lastfoot .foot_nav{
	width: 689px;
	margin: 0 auto;
}
.lastfoot .foot_nav a{
	 color: #666;
    font-family: 宋体;
    padding: 0 10px;
}
.lastfoot .dizhi{
	margin: 0 auto;
	width: 572px;
	height: 20px;
	line-height: 20px;
	color: #666;
    font-family: 宋体;
    margin-top: 10px;
}   
.lastfoot .dizhi a{
	    color: #333;
}



