html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,a,span, img { box-sizing:border-box;margin:0; padding:0; }

img { border:none; }
ul li{ list-style:none; } 
a{text-decoration:none;  cursor: pointer;}
body {
    color: rgb(149, 144, 138);
    font-size: 12px;
    font-family: 宋体;
}
.header .header_right #users #h_login{
	margin-left: 57px;
}
.header .header_right #users #user1{
	display: inline-block;
	float: left;
/*	margin-left:75px;*/
   
}
.header .header_right #users #user1 span{
	padding: 0;
	color: red;
	display: inline-block;
	float: left;
}.header .header_right #users #user1 span:nth-child(1){
	color: black;
}
.header .header_right #users #user1 #sx{
	margin-left: 10px;
	cursor: pointer;
}
.header .header_right #users #user1 #sx:hover{
	color: black;
}
.header .header_right a,span{
	float: right;
	display: inline-block;
}
.mains{
	width: 1200px;
	height: 3000px;
	margin: 0 auto;
	margin-top: 20px;
}
.mains_left{
	width: 214px;
	height: 3000px;
	float: left;
	border-top: 2px solid #d40202;
}
.mains_left h2{
	width: 214px;
	height: 40px;
	background: #f5f5f5;
	line-height: 40px;
}
.mains_left h2 p{
	font-size: 16px;
	margin-left: 10px;
	color: #c20303;
}
.mains_left h2 span{
	font-size: 10px;
	color: #1b1b1b;
}
.product_hot{
	width: 212px;
	height: 1025px;
	border: 1px solid #DCDCDC;
}
.mains_left .hot1{
	width: 172px;
	height: 245px;
	margin-top: 10px;
	margin-left: 20px;
}
.mains_left .hot1 img{
	width: 172px;
	height: 175px;
}
.mains_left .hot1 p:nth-of-type(1){
	text-align: center;
	font-size: 12px;
	color: black
}
.mains_left .hot1 p:nth-of-type(2){
	color: #e60012;
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}
.mains_right{
	width: 965px;
	height: 2500px;
	float: right;
}
.mains_right .top{
	width: 965px;
	height: 25px;

}
.mains_right .top .wz{
	width: 306px;
	height: 25px;
	float: right;
	line-height: 25px;
}
.mains_right .top .wz p{
	display: inline-block;
}
.mains_right .top .wz a{
	font-size: 13px;
	color: #4E4E4F;
}
.mains_right .top .wz a:nth-of-type(1){
	padding-left: 20px;
	background: url(../image1/home.png) no-repeat left center;
}
.mains_right .product_content{
	position: relative;
	width: 963px;
	height: 400px;
	border: 1px solid #dcdcdc;
	padding: 37px 50px;
}
.mains_right .product_content .bigbox{
	width: 350px;
	height: 350px;
	border: 1px solid #dcdcdc;
	position: relative;
}
.mains_right .product_content .bigbox img{
	width: 350px;
	height: 350px;
}
.mains_right .product_content .bigbox #filter{
	width: 175px;
	height: 175px;
	background: red;
	opacity: 0.4;
	position: absolute;
	left:0;
	top:0;
	display: none;
	z-index: 999;
}
.mains_right .product_content #maxPic{
	width: 350px;
	height: 350px;
	position: absolute;
	left: 411px;
	top:38px;
	overflow: hidden;
	display: none;
}
.mains_right .product_content .left{
	float: left;
	width: 350px;
	height: 500px;
}
.mains_right .product_content #maxPic img{
	width: 700px;
	height: 700px;
	position: absolute;
	left: 0;
	top:0;
}
.mains_right .product_content #sbox{
	width: 350px;
	height: 60px;
	margin-top: 5px;
}
.mains_right .product_content #sbox img{
	width: 54px;
	height: 54px;
	float: left;
	border: 1px solid black;
}
.mains_right .product_content .right{
	width: 475px;
	float: left;
	height: 1500px;
	margin-left: 25px;
}
.mains_right .product_content .right h3{
	    color: #111;
	    font-size: 20px;
}

.mains_right .product_content .right .zhizao{
	height: 22px;
    line-height: 22px;
    color: #b01330;
}
.mains_right .product_content .right .xian{
	width: 475px;
	height: 1px;
	background: #e5e5e5;;
	margin-top: 10px;
}
.mains_right .product_content .right .star a:hover{
	color: black;
}
.mains_right .product_content .right .price{
	height: 30px;
	color: rgb(102, 102, 102);
	margin-top: 10px;
    font-family: 新宋体;
    line-height: 22px;
}
.mains_right .product_content .right .price span{
	color: #d91f1f;
	font-family: arial;
    font-size: 23px;
}
.mains_right .product_content .right .bianhao{
	height: 30px;
    line-height: 30px;
    color: rgb(102, 102, 102);
    font-family: 新宋体;
}
.mains_right .product_content .right .bianhao span{
	display: inline-block;
	margin-left: 65px;
}
.mains_right .product_content .right .zl{
	height: 30px;
    line-height: 30px;
    color: rgb(102, 102, 102);
    font-family: 新宋体;
}
.mains_right .product_content .right .buy_num{
	height: 32px;
	margin-top: 15px;
}
.mains_right .product_content .right .buy_num span{
	line-height: 32px;
	height: 32px;
	display: inline-block;
	width: 60px;
	float: left;
}
.mains_right .product_content .right .buy_num p{
	display: inline-block;
}
.mains_right .product_content .right .buy_num .prev{
	margin-left: 19px;
	height: 32px;
	background: url(../img/xq_red-icon.png) no-repeat;
	width: 22px;
	float: left;
	cursor: pointer;
}
.mains_right .product_content .right .buy_num #num{
	width: 48px;
	height: 30px;
	float: left;
	border: none;
	text-align: center;
}
.mains_right .product_content .right .buy_num .next{
	height: 32px;
	background:url(../img/xq_add-icon.png) no-repeat;
	width: 22px;
	float: left;
	cursor: pointer;
}
.mains_right .product_content .right .buy_now{
	height: 41px;
	margin-top: 10px;
}
.mains_right .product_content .right .buy_now .now{
	display: inline-block;
	background: url(../img/gw.png);
	width: 126px;
	height: 41px;
}
.mains_right .product_content .right .buy_now .addCart{
	display: inline-block;
	margin-left: 10px;
	width: 126px;
	height: 41px;
	background: url(../img/gwc.png) no-repeat;
}
.mains_right .product_content .right .type{
	height: 28px;
	margin-top: 10px;
}
.mains_right .product_content .right .type span{
	line-height: 28px;
}
.mains_right .product_content .right .type .hm{
	display: inline-block;
	margin-left: 20px;
	border: 2px solid #cccccc;
	padding: 3px 5px ;
	cursor: pointer;
	color: #000000;
	
}
.mains_right .product_content .right .type .active3{
	border: 2px solid #CC0000 !important;
	background:url(../img/select.gif) no-repeat bottom right;
}
.mains_right .product_content .right .type .cm{
	display: inline-block;
	margin-left: 5px;
	border: 2px solid #cccccc;
	padding: 3px 5px ;
	cursor: pointer;
	color: #000000;
}
.mains_right .product_content .right .area{
	height: 48px;
	margin-top: 10px;
	    color: #626262;
}
.mains_right .product_content .right .icons{
	height: 28px;
	margin-top:-9px;
	line-height: 35px;
}
.mains_right .product_content .right .icons a{
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(../img/icons.png) no-repeat;
	
}
.mains_right .product_content .right .icons a:nth-of-type(2){
	background-position: 0px -52px;
}
.mains_right .product_content .right .icons a:nth-of-type(3){
	background-position: 0px -104px;
}
.mains_right .product_content .right .icons a:nth-of-type(4){
	background-position: 0px -156px;
}
.mains_right .product_content .right .icons a:nth-of-type(5){
	background-position: 0px -208px;
}
.mains_right .product_content .right .icons a:nth-of-type(6){
	background-position: 0px -260px;
}
/*客服中心*/
.kefu_right{
	width: 55px;	
	height: 177px;
/*	background: red;*/
	position: fixed;
	bottom: 100px;
	left: 90%;
	z-index: 99;
}
.kefu_right a{
	display: block;
	height: 58px;
	width: 55px;
}
.kefu_right a:first-of-type{
	margin-bottom: 2px;
}
.kefu_right a:last-of-type{
	margin-top: 2px;
}
