html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,a,span, img,div{box-sizing:border-box;margin:0; padding:0; }

img { border:none; }
ul li{ list-style:none; } 
a{text-decoration:none;  cursor: pointer;}
body{
	color: #95908A;
    font-size: 12px;
    font-family: "宋体";
}
.header{
	width: 100%;
	height: 32px;
	background: rgb(243, 243, 243);

}
.header .header_main{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
	/*background: red;*/
}
.header .header_main .header_left{
	width: 182px;
	height: 32px;
	line-height: 32px;
	font-size:12px ;
	float: left;
	color: rgb(120, 120, 123);
}
.header .header_main .header_right{
	float: right;
	height: 32px;
	width: 474px;
	 line-height: 32px;
	 font-size: 12px;
	 /*background: gray;*/
	 
}
.header .header_main .header_right span{
	    color: rgb(120, 120, 123);
	    line-height: 32px;
}
.header .header_main .header_right a:hover{
	color: #cb0000;
}
.header a{
	color: rgb(102, 102, 102);
	font-family: 新宋体;
	font-size: 12px;
}
.header #h_login{
	 line-height: 32px;
	 cursor: pointer;
	 color: #cb0000;
	 padding: 0 5px;

}
.header #h_reg{
	 cursor: pointer;
	 color: #cb0000;
	 padding: 0 5px;

}
/*//logo*/
.logo{
	width: 100%;
	height: 110px;
	
}
.logo .main{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	
	
}
.logo .main h1{
	width: 327px;
	height: 110px;
	float: left;s
}
/*//layout*/
.layout{
	width: 100%;
	height: 600px;
}
.layout .login_box{
/*	box-sizing:border-box;*/
	width: 1200px;
	margin: 0 auto;
	height: 600px;
	padding: 20px 100px;
}
.layout .login_box h3{
	height: 35px;
    font-size: 20px;
    color: #666;
    padding-left: 10px
}
.layout .login_box form{
	height: 423px;
	padding: 10px;
	background: #f2f2f2;
}
.layout .login_box .login_main{
	/*height: 423px;
	padding: 10px;
	background: #f2f2f2;*/
	width: 980px;
	height: 403px;
	background: white;
	padding: 56px 100px 64px 56px;
}
.layout .login_box .login_main .login_left{
	width: 477px;
	height: 283px;
	float: left;
	border-right: 1px solid #dcdcdc;
	    padding-right: 55px;
}
.layout .login_box .login_main .login_left img{
	width: 402px;
	height: 283px;
}
.layout .login_box .login_main .login_right{
	width: 260px;
	float: right;
	height: 232px;
	
}
.layout .login_box .login_main .login_right #p1{
	width: 260px;
	height: 17px;
	color: #78787b;;
}
.layout .login_box .login_main .login_right .login_txt{
	outline: none;
	width: 238px;
	height: 30px;
	padding-right: 20px;
    line-height: 20px;
    border: 1px solid #dcdcdc;
    background: url(../img/urse_i.png) no-repeat right center;
}
.layout .login_box .login_main .login_right #p3{
	width: 260px;
	height: 17px;
	color: #78787b;
	margin-top: 10px;
}
.layout .login_box .login_main .login_right .pass{
	outline: none;
	width: 238px;
	height: 30px;
	padding-right: 20px;
    line-height: 20px;
    border: 1px solid #dcdcdc;
    background: url(../img/password_i.png) no-repeat right center;
}
#login_username_notice{
/*	display: none;*/
	height: 24px;
	width: 230px;
	color:#8A0F13;
	font-size:12px;
	line-height:24px;
}
#p5{
	margin-top: 10px;
	width: 260px;
	height: 18px;
	line-height: 20px;
}
#p5 .login_checkbox{
	float: left;
	display: inline;
	width: 13px;
	height: 13px;
}
#p5 .zidong{
	color: #333;
}
#p5 .wangji{
	display: inline-block
	float: left;	
	margin-left: 20px;
}
#p5 .wangji a{
	color: #333;
}
 .login_submit{
	width: 260px;
	height: 36px;
	background: red;
	border: none;
	color: white;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
}
#p6{
	width: 260px;
	height: 18px;
	line-height: 18px;
	margin-top: 5px;
}
#login_password_notice{
	width: 260px;
	color: #8A0F13;
	height: 24px;
}
